.btn-modal{
    height: 3.25rem !important;
     border-radius: 0rem !important;
     border: unset !important;
  }
  .fa{
    font-size: 2.25rem;
  }
  .modal-footer{
    border-top: 0px;
  }
 ul.message-class{
   list-style-type:none;
   margin-top: 5px;
 }
 .message-class li {
  font-weight: 600;
  line-height: 1.5rem;
}
.alert-body{
padding: 0rem;
text-align: center;
font-size: 15px;
}
.icon-warning{
color: #fdd706;
}

.modal-data-responsive {
  min-height: 100px;
  max-height: calc(100vh - 500px);
  overflow-y: auto;
}